@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  color: #3E363F;
  font-family: "Lato", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.App {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.Card {
  background:white;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 1em 5em 0px rgb(19, 19, 19);
  
}

.Input {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
}
.Input input {
  outline: none;
  border: 0;
  color: #3E363F;
  background: transparent;
  font-family: "Lato", sans-serif;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 300;
}

.Input input:focus ~ label {
  opacity: 1;
  
}

.Input label {
  font-family: Lato;
  font-size: 13px;
  opacity: .1;
  transition: opacity .5s ease;
}
.Input label::before {
  align-items: center;
  color: #3E363F;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

button {
  align-items: center;
  background:linear-gradient(to bottom left,rgb(33, 97, 224) , rgb(92, 92, 170));
  border: 0;
  border-radius: 20px;
  color: white;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  margin-top: 20px;
  outline: none;
  padding: 10px 9px 10px 11px;
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  transform: scale(1.01);
  transition: ease-in .12s;
  box-shadow: 1px 1em 1em  rgba(33, 35, 136, 0.342)
}
button:active {
  transform: scale(0.99);
}

