@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  color: #3E363F;
  font-family: "Lato", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.App {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.Card {
  background:linear-gradient(to bottom left,rgb(33, 97, 224) , rgb(92, 92, 170));
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 350px;
  box-shadow: 6px .1em .8em 0px rgb(92, 92, 170);
  transform: rotateX(55deg) rotateZ(45deg);
  perspective: 50em;
  
}
.Card:hover{
   box-shadow: 0px 8em 14em 0px rgb(92, 92, 170);
   transform: rotateX(0deg);
   transition: .4s ease-in-out;
}



.Input {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  margin-bottom: 25px;
  padding-top: 10px;
}
.Input input {
  outline: none;
  border: 0;
  color: white;
  background: transparent;
  font-family: "Lato", sans-serif;
  flex: 1 0 auto;
  font-size: 18px;
  font-weight: 300;
}

.Input input:focus ~ label {
  opacity: 1;
  
}
.Input input::placeholder {
  font-family: Lato;
  font-size: 18px;
  color:rgba(255, 255, 255, 0.438);
  transition: opacity .5s ease;
}

button {
  align-items: center;
  background:white;
  border: 0;
  border-radius: 20px;
  color: rgb(8, 72, 248);
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  margin-top: 30px;
  outline: none;
  padding: 10px 9px 10px 11px;
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  transform: scale(1.01);
  transition: ease-in .12s;
  box-shadow: 1px 1em 1em  rgba(184, 184, 184, 0.3)
}
button:active {
  transform: scale(0.99);
}

